@charset "utf-8";

:root {
  --dz-column-unit: 60px;
  --dz-spacing-unit: 10px;

  --dz-background-color: white;
  --dz-title-color: #393A56;
  --dz-text-color: #57586B;
  --dz-subtitle-color: rgba(87, 88, 107, 0.7);
  --dz-subtext-color: rgba(87, 88, 107, 0.7);

  --dz-brand-color: #2EA7BD;
  --dz-border-color: rgba(87, 88, 107, 0.7);

  --dz-serif: ui-serif, serif;
  --dz-sans-serif: ui-sans-serif, ui-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dz-background-color: #111;
    --dz-title-color: #fff;
    --dz-text-color: #ccc;
    --dz-subtitle-color: #aaa;
    --dz-subtext-color: #aaa;

    --dz-brand-color: #2EA7BD;
    --dz-border-color: rgba(87, 88, 107, 0.7);
  }
}

body {
  font: 15pt/1.4 ui-serif, serif;
  background-color: var(--dz-background-color);
}

.external-link {
  &:after { 
    content: " ↪";
    vertical-align: middle;
  }   
}

// Import Pico
@import 
  "pico/scss/pico"
;

// Import partials.
@import
  "dezinezync/_layout"
;