header {
	padding: 2rem 0 1rem;

	#logo {
		font-size: 3rem;
		font-weight: 800;
		color: var(--dz-title-color);
	}

	.description {
		font-family: var(--dz-sans-serif);
		color: var(--dz-subtitle-color);
	}
}