ul.post-list {
	list-style: none;
	
	li {
		margin-bottom: calc(var(--dz-spacing-unit) * 4);
	}
}

ul.post-list a.post-link h3, main.page-content h3.page-title {
	font-size: 1.5rem;
	font-weight: 800;
}

ul.post-list a.post-link .post-meta, main.page-content .post-meta {
	color: var(--dz-subtitle-color);
	margin-bottom: var(--dz-spacing-unit);
	font-weight: 500;
}

ul.post-list li, .page-content .wrapper {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		margin-bottom: var(--dz-spacing-unit);
	}

	p {
		margin-bottom: var(--dz-spacing-unit);
	}

	h1 {
		font-size: 1.7rem
	}

	h2{
		font-size: 1.6rem
	}

	h3 {
		font-size: 1.5rem
	}

	h4 {
		font-size: 1.4rem
	}

	h5 {
		font-size: 1.3rem
	}

	h6 {
		font-size: 1.2rem
	}

	// if an image is the first unit appearing in the post
	// add additional margin to the top so it's spaced out
	// correctly from the post date
	a.post-link + p img, span.post-meta + p img {
		margin-top: calc(var(--dz-spacing-unit) * 2);
	}
}