@media only screen and (max-width: 750px) {
	header {
		padding-left: 0px;
	}

	#content-wrapper {
		flex-direction: column;
	}	

	nav {
		text-align: left;
		flex: 1 1 auto;

		border-bottom: 1px solid var(--dz-border-color);

		margin-bottom: calc(var(--dz-spacing-unit) * 2);

		ul {
			display: flex;

			li {
				margin: 0 var(--dz-spacing-unit);

				&:first-of-type {
					margin-left: calc(var(--dz-spacing-unit) * 0.5);
				}
			}
		}
	}

	body > .container {
		max-width: 64ch;
	}

	footer {
		text-align: center;
		padding-left: 0;
	}
}